
body {
    background-color: #E5E3C9;
}

hr {
    background-color: none;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1{
    color: #789395;
}

h3{
    color: #789395;
}